 #ATL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #80000a;
 	color: black;
 }

 #CHI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #c12030;
 	color: #18184a;
 }

 #CIN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #fe5000;
 	color: #003087;
 }

 #CLB {
 	font-family: 'Cambo', Times, serif;
 	background-color: #fef200;
 	color: black;
 }

 #COL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #862633;
 	color: #8bb8e8;
 }

 #DC {
 	font-family: 'Cambo', Times, serif;
 	background-color: black;
 	color: #ee1a39;
 }

 #DAL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #003e7e;
 	color: #d11241;
 } 

 #HOU {
 	font-family: 'Cambo', Times, serif;
 	background-color: #f4911e;
 	color: black;
 }

 #SKC {
 	font-family: 'Cambo', Times, serif;
 	background-color: #93b1d7;
 	color: #002a5c;
 }

 #LAG {
 	font-family: 'Cambo', Times, serif;
 	background-color: #00245d;
 	color: #ffd200;
 }

 #LFC {
 	font-family: 'Cambo', Times, serif;
 	background-color: black;
 	color: #c39e6d;
 }

 #MIA {
	font-family: 'Cambo', Times, serif;
	background-color: black;
	color: #f5adc6;
}

 #MIN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #585958;
 	color: #9bcde4;
 }

 #MTL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #2b63ad;
 	color: #929397;
 }

 #NE {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002b5c;
 	color: #E51938;
 }  

 #NSH {
	font-family: 'Cambo', Times, serif;
	background-color: #ebe451;
	color: #151242;
} 

 #NY {
 	font-family: 'Cambo', Times, serif;
 	background-color: #e31351;
 	color: #002f65;
 }

 #NYC {
 	font-family: 'Cambo', Times, serif;
 	background-color: #6cace4;
 	color: #041e42;
 }

 #OSC {
 	font-family: 'Cambo', Times, serif;
 	background-color: #61259e;
 	color: #ffe293;
 } 

 #PHI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002d55;
 	color: #b38707;
 }

 #POR {
 	font-family: 'Cambo', Times, serif;
 	background-color: #004812;
 	color: #eae827;
 }

 #RSL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #b30838;
 	color: #f5e700;
 } 

 #SJ {
 	font-family: 'Cambo', Times, serif;
 	background-color: #30457a;
 	color: black;
 }  

 #SEA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #658d1b;
 	color: #236192;
 }

 #TOR {
 	font-family: 'Cambo', Times, serif;
 	background-color: #ab1e2d;
 	color: #3f4743;
 }

 #VAN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #04265c;
 	color: #94c2e4;
 } 

 #TBD {
	font-family: 'Cambo', Times, serif;
	background-color: white;
	color: black;
 }