.title {
	margin-top: 150px;
	text-align: center;
}

#employeeFormAdd {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    margin:60px  auto;
    width: 80%;
    border: solid #f44336;
}

#employeeFormRemove {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    margin:40px auto;
    width: 80%;
    border: solid #f44336;
}

.employeeAdd {
    width: 113px;
    margin: -15px -50px;
    position: relative;
    top: 50%;
    left: 45%;
}

.employeeRemove {
    width:119px; 
    margin: -20px -135px;
    position:relative;
    top:50%; 
    left:50%;
}

.inputAlign {
    margin-left: 57px;
}

input {
	width: 45%;
    height: 40px;
    font-size: 18px;
}

/*Profile Pic css*/
