 #ARZ {
 	font-family: 'Cambo', Times, serif;
 	font-size: 16px;
 	background-color: #A71930;
 	color: black;
 }

 #ATL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0C2340;
 	color: white;
 }
 
 #BAL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #FC4C02;
 	color: black;
 }

 #BOS {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0C2340;
 	color: #C8102E; 
 }

 #CHC {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002F6C;
 	color: #C8102E;
 }

 #CWS {
 	font-family: 'Cambo', Times, serif;
 	background-color: #27251F;
 	color: white;
 }

 #CIN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #D50032;
 	color: white;
 }

 #CLE {
 	font-family: 'Cambo', Times, serif;
 	background-color: #D50032;
 	color: #0C2340;
 }

 #COL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #330072;
 	color: #C4CED4;
 }

 #DET {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0C2340;
 	color: #FA4616;
 }

 #HOU {
 	font-family: 'Cambo', Times, serif;
 	background-color: #EB6E1F;
 	color: #002D62;
 }

 #KC {
 	font-family: 'Cambo', Times, serif;
 	background-color: #004687;
 	color: white;
 }

 #LAA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #BA0021;
 	color: #003263;
 }

 #LAD {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002F6C;
 	color: white;
 }

 #MIA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #00A3E0;
 	color: black;
 }

 #MIL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #11284b;
 	color: #fec52e;
 }

 #MIN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0C2340;
 	color: #BA0C2F;
 }

 #NYM {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002D72;
 	color: #FC4C02;
 }

 #NYY {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0C2340;
 	color: white;
 }

 #OAK {
 	font-family: 'Cambo', Times, serif;
 	background-color: #034638;
 	color: white;
 }

 #PHI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #BA0C2F;
 	color: white;
 }

 #PIT {
 	font-family: 'Cambo', Times, serif;
 	background-color: #27251F;
 	color: #FFC72C;
 }

 #SD {
 	font-family: 'Cambo', Times, serif;
 	background-color: #3e342f;
 	color: #ffc72c;
 }


 #SF {
 	font-family: 'Cambo', Times, serif;
 	background-color: #27251F;
 	color: #FA4616;
 }

 #SEA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0C2340;
 	color: #00685E;
 }

 #STL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #BA0C2F;
 	color: white;
 } 

 #TB {
 	font-family: 'Cambo', Times, serif;
 	background-color: #092C5C;
 	color: #8FBCE6;
 }

 #TEX {
 	font-family: 'Cambo', Times, serif;
 	background-color: #003278;
 	color: white;
 }

 #TOR {
 	font-family: 'Cambo', Times, serif;
 	background-color: #134A8E;
 	color: white;
 }

 #WAS {
 	font-family: 'Cambo', Times, serif;
 	background-color: #BA122B;
 	color: white;
 }

#TBD {
	font-family: 'Cambo', Times, serif;
	background-color: white;
	color: black;
}