 #ANA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #fc4c02;
 	color: black;
 }
 
 #ARZ {
 	font-family: 'Cambo', Times, serif;
 	background-color: #89222f;
 	color: #dfcba0; 
 }

 #BOS {
 	font-family: 'Cambo', Times, serif;
 	background-color: black;
 	color: #fdb927; 
 }

 #BUF {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002d62;
 	color: #fdbb30;
 }

 #CGY {
 	font-family: 'Cambo', Times, serif;
 	background-color: #d42604;
 	color: black; 
 } 

 #CAR {
 	font-family: 'Cambo', Times, serif;
 	background-color: #e13a3e;
 	color: black; 
 } 

 #CHI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #d1001b;
 	color: black;
 }

 #COL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #8b2942;
 	color: white; 
 }

 #CBJ {
 	font-family: 'Cambo', Times, serif;
 	background-color: #01265b;
 	color: #a8b1b8; 
 }

 #DAL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #006341;
 	color: black; 
 }

 #DET {
 	font-family: 'Cambo', Times, serif;
 	background-color: #c8102e;
 	color: white;
 }

 #EDM {
 	font-family: 'Cambo', Times, serif;
 	background-color: #cf4520;
 	color: #00205b;
 }

 #FLA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #c8102e;
 	color: #041e42;
 }

 #LA {
 	font-family: 'Cambo', Times, serif;
 	background-color: black;
 	color: #b1b5b6;
 }

 #MIN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #154836;
 	color: #bf2b37;
 }

 #MTL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #a6192e;
 	color: #041e42;
 }

 #NSH {
 	font-family: 'Cambo', Times, serif;
 	background-color: #fbbd2c;
 	color: #083763; 
 } 

 #NJ {
 	font-family: 'Cambo', Times, serif;
 	background-color: #c8102e;
 	color: black; 
 }

 #NYI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #003087;
 	color: #fc4c02;
 }

 #NYR {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0039a6;
 	color: #cc092f;
 }

 #OTT {
 	font-family: 'Cambo', Times, serif;
 	background-color: #e4173e;
 	color: black;
 }

 #PHI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #fd4300;
 	color: black;
 }

 #PIT {
 	font-family: 'Cambo', Times, serif;
 	background-color: black;
 	color: #ffb81c;
 }

 #STL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0447a0;
 	color: #ffc325;
 }

 #SJ {
 	font-family: 'Cambo', Times, serif;
 	background-color: #006e7f;
 	color: black;
 }

 #TB {
 	font-family: 'Cambo', Times, serif;
 	background-color: #003e7e;
 	color: white;
 } 

 #TOR {
 	font-family: 'Cambo', Times, serif;
 	background-color: #003876;
 	color: white;
 }

 #VAN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #00205b;
 	color: #00843d;
 }

 #VGK {
 	font-family: 'Cambo', Times, serif;
 	font-size: 14px;
 	background-color: #333f48;
 	color: #b9975b;
 }

 #WSH {
 	font-family: 'Cambo', Times, serif;
 	background-color: #cf132b;
 	color: #00214d;
 }

 #WPG {
 	font-family: 'Cambo', Times, serif;
 	background-color: #041e42;
 	color: #004c97;
 }

#TBD {
	font-family: 'Cambo', Times, serif;
	background-color: white;
	color: black;
}

