 #ATL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #e03a3e;
 	color: #c1d32f;
 }
 
 #BOS {
 	font-family: 'Cambo', Times, serif;
 	background-color: #007a33;
 	color: white; 
 }

 #BKN {
 	font-family: 'Cambo', Times, serif;
 	background-color: black;
 	color: white; 
 }

 #CHA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #00788c;
 	color: #1d1160;
 }

 #CHI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #ce1141;
 	color: black;
 }

 #CLE {
 	font-family: 'Cambo', Times, serif;
 	background-color: #6f263d;
 	color: #041e42;
 }

 #DAL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #00538c;
 	color: #002b5e; 
 }

 #DEN {
 	font-family: 'Cambo', Times, serif;
 	background-color: #041e42;
 	color: #fdb927; 
 }

 #DET {
 	font-family: 'Cambo', Times, serif;
 	background-color: #006bb6;
 	color: #ed174c;
 }

 #GSW {
 	font-family: 'Cambo', Times, serif;
 	background-color: #006bb6;
 	color: #fdb927;
 }

 #HOU {
 	font-family: 'Cambo', Times, serif;
 	background-color: #ce1141;
 	color: white;
 }

 #IND {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002d62;
 	color: #fdbb30;
 }

 #LAC {
 	font-family: 'Cambo', Times, serif;
 	background-color: black;
 	color: #ed174c;
 }

 #LAL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #fdb927;
 	color: #552583;
 }

 #MEM {
 	font-family: 'Cambo', Times, serif;
 	background-color: #6189b9;
 	color: #00285e;
 }

 #MIA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #98002e;
 	color: black;
 }

 #MIL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #00471b;
 	color: #eee1cb;
 }

 #MIN {
 	font-family: 'Cambo', Times, serif;
 	font-size: 16px;
 	background-color: #236192;
 	color: #0c2340;
 }

 #NO {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0c2340;
 	color: #85714d;
 }

 #NYK {
 	font-family: 'Cambo', Times, serif;
 	background-color: #006bb6;
 	color: #f58426;
 }

 #OKC {
 	font-family: 'Cambo', Times, serif;
 	background-color: #007ac1;
 	color: #ef3b24;
 }

 #ORL {
 	font-family: 'Cambo', Times, serif;
 	background-color: #0077c0;
 	color: black;
 }

 #PHI {
 	font-family: 'Cambo', Times, serif;
 	background-color: #006bb6;
 	color: white;
 }

 #PHX {
 	font-family: 'Cambo', Times, serif;
 	background-color: #1d1160;
 	color: #e56020;
 }

 #POR {
 	font-family: 'Cambo', Times, serif;
 	font-size: 16px;
 	background-color: black;
 	color: #e03a3e;
 }

 #SAC {
 	font-family: 'Cambo', Times, serif;
 	background-color: #5a2d81;
 	color: #63727a;
 }

 #SAS {
 	font-family: 'Cambo', Times, serif;
 	background-color: #c4ced4;
 	color: black;
 }

 #TOR {
 	font-family: 'Cambo', Times, serif;
 	background-color: #ce1141;
 	color: black;
 }

 #UTA {
 	font-family: 'Cambo', Times, serif;
 	background-color: #002b5c;
 	color: #f9a01b;
 }

 #WAS {
 	font-family: 'Cambo', Times, serif;
 	background-color: #e31837;
 	color: #002b5c;
 }

#TBD {
	font-family: 'Cambo', Times, serif;
	background-color: white;
	color: black;
}